<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="com.cl.dao.UserDAO">

    <insert id="insert" parameterType="com.cl.model.UserDO">
        insert into user (user_no, user_name, user_pwd, user_reg_time, user_login_time)
        values (#{userNo,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{userPwd,jdbcType=VARCHAR},
        #{userRegTime,jdbcType=TIMESTAMP}, #{userLoginTime,jdbcType=TIMESTAMP})
    </insert>

    <resultMap id="BaseResultMap" type="com.cl.model.UserDO">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="user_no" property="userNo" jdbcType="VARCHAR"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="user_pwd" property="userPwd" jdbcType="VARCHAR"/>
        <result column="user_addr" property="userAddr" jdbcType="VARCHAR"/>
        <result column="user_gender" property="userGender" jdbcType="VARCHAR"/>
        <result column="user_birth" property="userBirth" jdbcType="VARCHAR"/>
        <result column="user_email" property="userEmail" jdbcType="VARCHAR"/>
        <result column="user_status" property="userStatus" jdbcType="BIGINT"/>
        <result column="user_reg_time" property="userRegTime" jdbcType="TIMESTAMP"/>
        <result column="user_login_time" property="userLoginTime" jdbcType="TIMESTAMP"/>
    </resultMap>


    <sql id="Base_Column_List">
        id, user_no, user_name, user_pwd, user_reg_time, user_login_time
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from user
        where id = #{id,jdbcType=BIGINT}
    </select>

    <update id="updateByPrimaryKey" parameterType="com.cl.model.UserDO" >
        update user
        set user_no = #{userNo,jdbcType=VARCHAR},
        user_name = #{userName,jdbcType=VARCHAR},
        user_pwd = #{userPwd,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from user
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <select id="pagingQuery" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select
        <include refid="Base_Column_List" />
        from user order by user_reg_time asc limit 2 offset #{page,jdbcType=BIGINT}
    </select>

    <sql id="criteria_sql">
        <where>
            <if test="userNo != null">
                user_no like '%${userNo}%'
            </if>
        </where>
    </sql>

    <select id="selectList" resultMap="BaseResultMap" parameterType="map" >
        select
        <include refid="Base_Column_List" />
        from user
        <include refid="criteria_sql"/>
        <if test="page != null">
            limit #{page.start},#{page.pageSize}
        </if>
    </select>

    <select id="countList" resultType="int" parameterType="map">
        SELECT
        count(1) count
        FROM
        user
        <include refid="criteria_sql"/>
    </select>

    <select id="selectByNameAndPassword" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from user
        where user_name = #{userName, jdbcType=VARCHAR}
        and user_pwd = #{userPwd, jdbcType=VARCHAR}
    </select>

</mapper>